<h1>Admin Dashboard</h1>

<h2>Inventory Status</h2>

<ul>
  <li>
    <h2>Total Products</h2>
    <h3><%= @products %> </h3>
  </li>
  <li>
    <h2>Total Categories</h2>
    <h3><%= @category %> </h3>
    
  </li>
</ul>
